@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(179, 93, 59);
    font-family: "Roboto Mono";
    overflow-x: hidden;
}

.name {
    font-family: "Caveat";
    position: absolute;
    left: 3%;
    top: 21%;
    color: rgb(155, 81, 52);
}

#navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    max-height: 10vh;
    margin-bottom: 10%;
    background-color: rgb(235, 235, 235);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: visible;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 40px;
    height: 100%;
    font-weight: 700;
}

.navbar a,
.navbar li {
    color: rgb(179, 93, 59);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.profile-container {
    background-color: transparent;
    height: 100%;
}

.navbar a:hover,
.navbar li:hover {
    background-color: rgb(179, 93, 59);
    color: rgb(235, 235, 235);
    transition: 0.05s ease-in;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.profile-menu {
    position: absolute;
    top: 100%;
    right: 43.9%;
    display: inline-block;
    width: 9vw;
    background-color: rgb(235, 235, 235);
    padding: 1% 0;
}

.hideMenu {
    display: none;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(233, 230, 230);
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5% 4%;
}

.intro img {
    margin-right: 4%;
    margin-top: 2%;
    height: 35vw;
    border-radius: 2px;
    border: 2px solid rgb(155, 81, 52);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.hodophile {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 4%;
}

.hodophile img {
    margin-top: 2%;
    margin-left: 2%;
    height: 35vw;
    border-radius: 2px;
    border: 2px solid rgb(155, 81, 52);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.question {
    font-weight: lighter;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% 4%;
}

.contact img {
    margin-right: 4%;
    height: 35vw;
    border-radius: 2px;
    border: 2px solid rgb(155, 81, 52);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    #navContainer {
        height: 8vh;
    }

    .navbar {
        font-size: 1.5rem;
        position: absolute;
        right: 4%;
        gap: 20px;
    }

    .name {
        position: absolute;
        left: 5%;
        top: 35%;
    }

    .profile-menu {
        right: 39.9%;
        width: 14vw;
    }

    .intro img {
        margin-top: 8%;
    }

    .hodophile {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .name {
        left: 4%;
        font-size: 1.2rem;
    }

    .navbar {
        gap: 0;
        font-size: 1.2rem;
    }

    .profile-menu {
        width: 15vw;
    }

    .intro,
    .contact {
        font-size: 1rem;
    }

    .hodophile {
        font-size: 0.67rem;
    }
}

@media screen and (max-width: 540px) {
    #navContainer {
        height: 10vh;
        width: 100vw;
    }

    .name {
        left: 3%;
        font-size: 0.9rem;
    }

    .navbar {
        gap: 0;
        font-size: 0.8rem;
    }

    .profile-menu {
        width: 17vw;
        right: 37.9%;
    }
}

@media screen and (max-width: 411px) {
    body {
        overflow-x: hidden;
    }

    #navContainer {
        height: 10vh;
        width: 100vw;
    }

    .profile-menu {
        right: 35.9%;
    }

    .name {
        left: 35%;
        font-size: 1rem;
        top: 14%;
    }

    .navbar {
        font-size: 0.6rem;
        top: 19%;
        font-weight: 900;
    }

    .profile-menu {
        top: 80%;
        right: 36.9%;
        width: 18vw;
    }

    .intro {
        flex-direction: column;
        font-size: 0.7rem;
    }

    .intro h1 {
        margin-top: 2%;
    }

    .hodophile {
        font-size: 0.67rem;
        flex-direction: column;
    }

    .hodophile img {
        margin-left: 0;
        position: absolute;
        top: 47%;
    }

    .hodophile h3 {
        margin: 0px 4%;
        position: absolute;
        bottom: 9%;
    }

    .contact {
        margin-bottom: 5%;
    }

    .contact img {
        position: absolute;
        bottom: -13%;
    }

    .contact h3 {
        position: absolute;
        bottom: -31%;
        margin: 2% 4%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 360px) {
    .profile-menu {
        width: 20vw;
    }

    .intro {
        font-size: 0.9rem;
    }

    .hodophile h3 {
        bottom: 4%;
    }

    .hodophile img {
        top: 48%;
    }

    .contact img {
        bottom: -20%;
    }

    .contact h3 {
        bottom: -43%;
    }
}