* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(202, 105, 67); */
    background-image: url(/images/map.jpg);
    background-attachment: fixed;
    object-fit: cover;
}

#navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin-bottom: 10%;
    background-color: rgb(235, 235, 235);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    gap: 10px;
}

.navbar a,
.navbar li {
    color: rgb(123, 151, 161);
    text-decoration: none;
}

#posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    gap: 20%;
    height: 100%;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(123, 151, 161);
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(103, 126, 134);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb;
    border-radius: 2px;
    width: 60vw;
    margin: 2% 0;
    text-align: center;
}

.post-image img {
    height: 40vh;
    margin: 5% 0;
    border-radius: 2px;
    border: 2px solid rgb(103, 126, 134);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.viewPost {
    color: rgb(235, 235, 235);
    background-color: rgb(123, 151, 161);
    border: 2px solid rgb(103, 126, 134);
    border-radius: 2px;
    width: 10vw;
    height: 2vw;
}

.viewPost:hover {
    width: 11vw;
    transition: 0.3s ease-in;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    align-items: center;
}

.hide,
.hideAdd,
.hideContainer,
.hideButtons {
    display: none !important;
}

.postModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: rgb(123, 151, 161);
    width: 100vw;
}

.postModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blogPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(235, 235, 235);
}

.closePost {
    position: absolute;
    top: 1%;
    right: 3%;
}

.postImage img {
    margin-top: 5%;
    height: 30vw;
    border-radius: 2px;
    border: 2px solid rgb(103, 126, 134);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2% 0;
}

.interact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 2% 0;
}

.like,
.comment {
    font-size: 1rem;
    padding: 3%;
}

.addCommentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
    /* top: 25%;
    right: 25%;
    opacity: 100%; */
    width: 50vw;
    height: 40vh;
    background-color: rgb(235, 235, 235);
    border-radius: 2px;
    border: 2px solid rgb(190, 190, 190);
}

.add {
    width: 20vw;
    height: 7vh;
}

.addCommentButtons {
    display: flex;
    flex-direction: row;
}

.commentContainer {
    display: flex;
    align-self: center;
    color: rgb(123, 151, 161);
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(206, 205, 205);
    border-radius: 2px;
    width: 50vw;
}