* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/sunset.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.hide {
    display: none;
}

#login.active{
    display: block;
}



#login {
    display: none;
}