@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/sunset.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: "Roboto Mono";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.diary {
    font-family: "Caveat";
}

.hide {
    display: none;
}

#login.active {
    display: block;
}

#login {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

#subscribe {
    position: relative;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: rgb(179, 93, 59);
    background-color: rgb(235, 235, 235);
    height: 60vh;
    width: 60vw;
    gap: 40px;
    border: 2px solid rgb(160, 82, 51);
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.login {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login input,
.subscribe input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(179, 93, 59);
    color: rgb(179, 93, 59);
    height: 5vh;
}

.login input::placeholder,
.subscribe input::placeholder {
    color: rgb(179, 93, 59);
}

.loginButton {
    width: 20vw;
}

.loginBtnContainer {
    display: flex;
    justify-content: center;
}

.subscribeContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: rgb(179, 93, 59);
    background-color: rgb(235, 235, 235);
    height: 60vh;
    width: 60vw;
    gap: 20px;
    border: 2px solid rgb(160, 82, 51);
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginButton,
.subscribeButton {
    background-color: rgb(179, 93, 59);
    color: rgb(235, 235, 235);
    border: 2px solid rgb(160, 82, 51);
    border-radius: 2px;
    height: 5vh;
    font-family: "Caveat";
}

.switchSide {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .subHeader {
        font-size: 3rem;
        text-align: center;
        position: absolute;
        top: 5%;
    }

    .loginHeader {
        font-size: 3rem;
        text-align: center;
        position: absolute;
        top: 8%;
    }

    .subscribeContainer {
        height: 60vh;
    }

    .subscribe {
        position: absolute;
        top: 24%;
    }

    .login {
        height: 25vh;
        font-size: 4rem;
    }

    .login input,
    .subscribe input {
        font-size: 2rem;
    }

    .loginBtnContainer {
        position: absolute;
        bottom: 28%;
        width: 33vw;
        display: flex;
        align-self: center;
    }

    .loginButton, .subscribeButton {
        margin: 5% 0;
        font-family: "Caveat";
        margin: 5% 0;
        font-size: 2rem;
    }

    .loginButton {
        width: 33vw;
        font-size: 2rem;
    }

    .notSubscribed {
        position: absolute;
        bottom: 8%;
        font-size: 2rem;
        text-align: center;
    }

    .alreadySubscribed {
        position: absolute;
        bottom: 6%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .login-container,
    .subscribeContainer {
        height: 70vh;
    }

    .login {
        height: 20vh;
    }

    .loginInputs {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .subscribe {
        position: absolute;
        top: 26%;
    }

    .subscribe input {
        font-size: 1.5rem;
    }

    .subHeader, .loginHeader {
        font-size: 2.5rem;
    }

    .loginBtnContainer {
        position: absolute;
        bottom: 30%;
    }

    .notSubscribed {
        bottom: 11%;
        font-size: 1.5rem;
    }

    .alreadySubscribed {
        font-size: 1.4rem;
        text-align: center;
        width: 45vw;
    }
}

@media screen and (max-width: 681px) {
    .subscribeContainer {
        height: 75vh;
    }

    .subHeader {
        position: absolute;
        top: 6%;
    }

    .loginHeader,
    .subHeader {
        font-size: 1.8rem;
    }

    .login {
        height: 25vh;
    }

    .loginInputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .login input,
    .subscribe input {
        font-size: 1rem;
    }

    .loginButton,
    .subscribeButton {
        font-size: 1.5rem;
    }

    .notSubscribed,
    .alreadySubscribed {
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .login-container{
        height: 65vh;
    }

    .login {
        height: 39vh;
    }

    .subHeader {
        font-size: 1.5rem;
    }

    .loginHeader {
        font-size: 1.4rem;
    }

    .subscribe {
        position: absolute;
        top: 24%;
    }

    .subscribe input,
    .login input {
        font-size: 0.9rem;
    }

    .subscribeButton,
    .loginButton {
        font-size: 1.5rem;
    }

    .alreadySubscribed {
        font-size: 0.9rem;
    }

    .notSubscribed,
    .subscribeButton {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .login {
        height: 20vh;
    }

    .subscribe {
        position: absolute;
        top: 23%;
    }

    .login-container {
        height: 55vh;
    }

    .subscribeContainer {
        height: 70vh;
    }

    .loginHeader {
        font-size: 1.1rem;
    }

    .subHeader {
        position: absolute;
        top: 6%;
        font-size: 1rem;
    }

    .subscribe input,
    .login input {
        font-size: 0.8rem;
    }

    .loginInputs {
        gap: 11px;
    }

    .loginButton {
        font-size: 1.3rem;
    }

    .subscribeButton {
        font-size: 1rem;
    }

    .notSubscribed {
        font-size: 0.7rem;
    }

    .alreadySubscribed {
        font-size: 0.67rem;
    }
}

@media screen and (max-width: 360px) {
    .login-container {
        height: 55vh;
    }

    .login {
        height: 20vh;
    }

    .subscribe {
        position: absolute;
        top: 24%;
    }

    .subHeader,
    .loginHeader {
        font-size: 1.2rem;
    }

    .subscribe input {
        font-size: 0.8rem;
    }

    .login input {
        font-size: 0.9rem;
    }

    .loginButton {
        font-size: 1.3rem;
    }

    .alreadySubscribed,
    .notSubscribed {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 411px) {
    .subscribeContainer {
        height: 65vh;
    }

    .login-container {
        height: 55vh;
    }

    .subHeader,
    .loginHeader {
        font-size: 1.5rem;
        position: absolute;
        top: 6%;
    }

    .subscribe {
        position: absolute;
        top: 24%;
    }

    .subscribe input {
        font-size: 0.9rem;
    }

    .login {
        height: 20vh;
    }

    .login input {
        font-size: 1rem;
    }

    .subscribeButton,
    .loginButton {
        font-size: 1.5rem;
    }

    .alreadySubscribed {
        font-size: 0.7rem;
    }

    .notSubscribed {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 414px) {
    .subscribe {
        position: absolute;
        top: 22%;
    }

    .subscribeContainer {
        height: 70vh;
    }

    .login-container {
        height: 55vh;
    }

    .loginHeader, .subHeader {
        font-size: 1.4rem;
    }
    
    .login {
        height: 22vh;
    }

    .loginButton, .subscribeButton {
        font-size: 1.4rem;
    }

    .notSubscribed, .alreadySubscribed {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 280px) {
    .subscribeContainer {
        height: 65vh;
    }

    .login-container {
        height: 50vh;
    }

    .loginHeader {
        position: absolute;
        top: 9%;
    }

    .loginHeader, .subHeader {
        font-size: 1rem;
    }

    .login {
        height: 20vh;
    }

    .loginInputs {
        gap: 15px;
    }

    .subscribe {
        position: absolute;
        top: 20%;
    }

    .subscribe input,
    .login input {
        font-size: 0.6rem;
        font-weight: 700;
    }

    .loginButton, .subscribeButton {
        font-size: 1rem;
    }

    .loginBtnContainer {
        position: absolute;
        bottom: 26%;
    }

    .notSubscribed, .alreadySubscribed {
        font-size: 0.6rem;
    }
}