body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/images/map.jpg);
}

#navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin-bottom: 10%;
    color: rgb(123, 151, 161);
    background-color: rgb(211, 207, 207);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 10px;
}

.navbar a,
.navbar li {
    color: rgb(123, 151, 161);
    text-decoration: none;
}

.addPost {
    position: absolute;
    top: 45%;
    right: 5%;
    color: rgb(211, 207, 207);
    background-color: rgb(123, 151, 161);
    border-radius: 2px;
    border: 2px solid rgb(103, 126, 134);
    padding: 0.5%;
    width: 10vw;
}

.addPost:hover {
    width: 11vw;
    transition: 0.2s ease-in;
}

.hide,
.hideCreate {
    display: none;
}

.postContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(123, 151, 161);
    background-color: rgb(211, 207, 207);
    border: 2px solid rgb(123, 151, 161);
    width: 60vw;
    margin-bottom: 2%;
    text-align: center;
}

.postImage {
    position: relative;
}

.postImage img {
    height: 30vh;
    margin-top: 5%;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 30vh;
    width: 100%;
    color: rgb(211, 207, 207);
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5%;
}

.overlay:hover {
    opacity: 1;
}

.postModal {
    position: fixed;
}

.hideImage,
.hideTitle,
.hideIntro,
.hideBody,
.hideConclusion,
.hideDate,
.hideAuthor,    
.hideId {
    display: none;
}

.titleContainer,
.introContainer,
.bodyContainer,
.conclusionContainer,
.dateContainer,
.authorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.editImageContainer,
.editTitleContainer,
.editIntroContainer,
.editBodyContainer,
.editConclusionContainer,
.editDateContainer,
.editAuthorContainer {
    position: fixed;
    top: 25%;
    left: 24.9%;
    background-color: rgb(123, 151, 161);
    border: 2px solid rgb(103, 126, 134);
    border-radius: 2px;
    width: 50vw;
    height: 30vw;
}

.closeImage,
.closeTitle,
.closeIntro,
.closeBody,
.closeConclusion,
.closeDate,
.closeAuthor {
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 2rem;
    color: rgb(123, 151, 161);
    background-color: rgb(211, 207, 207);
    border-radius: 2px;
    border: 2px solid rgb(179, 177, 177);
}

.editPostImageInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16vw;
    width: 32vw;
    border: 2px solid rgb(179, 177, 177);
    border-radius: 2px;
    color: rgb(123, 151, 161);
    outline: none;
}

.editPostImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16vw;
    width: 20vw;
}

.editTitle,
.editIntro,
.editBody,
.editConclusion,
.editDate,
.editAuthor {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 30vw;
    height: 10vw;
    border: 2px solid rgb(179, 177, 177);
    border-radius: 2px;
    color: rgb(123, 151, 161);
    outline: none;
}

.saveImage,
.saveTitle,
.saveIntro,
.saveBody,
.saveConclusion,
.saveDate,
.saveAuthor {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 8vw;
    height: 3vw;
    font-size: 1rem;
    color: rgb(123, 151, 161);
    background-color: rgb(211, 207, 207);
    border-radius: 2px;
    border: 2px solid rgb(179, 177, 177);
}

.fa-edit {
    margin-left: 1%;
}

.deletePost {
    color: rgb(211, 207, 207);
    background-color: rgb(123, 151, 161);
    border-radius: 2px;
    border: 2px solid rgb(103, 126, 134);
    padding: 0.5%;
    width: 10vw;
    margin-bottom: 10%;
}


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(123, 151, 161);
    color: rgb(211, 207, 207);
    border: 2px solid rgb(103, 126, 134);
    border-radius: 2px;
    width: 50vw;
    height: 20vw;
    font-size: 1.5rem;
}